.profile-pic {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	margin: auto;
	background-image: url("pictures/mypic.jpg");
	background-size: cover;
	display: block;
}

.panel-default > .panel-heading {
	background-color: #4C4C4C;
	color: white;
	font-size: 20px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.panel-body {
	background: #FFFFFF;
	color: #191919;
	font-size: 20;
}

.intro {
	line-height: 150%;
}

li {
	margin-bottom: 10px;
}

a {
	color: #7B2C2C;
}

#github > img {
	width: 64px;
	height: 64px;
}

#linkedin > img {
	width: 64px;
	height: 64px;
}

#email > img {
	width: 64px;
	height: 64px;
}

#twitter > img {
	width: 64px;
	height: 64px;
}

.icons > a {
	margin: auto;
}

.icons>a:hover img {
	background-color: transparent;
	-webkit-box-shadow: 0 0 50px rgba(0,0,0, .65);
	-moz-box-shadow: 0 0 50px rgba(0,0,0, .65);
	box-shadow: 0 0 50px rgba(0,0,0, .65);
}



